@model Mango.Web.Models.ProductDto
@{
    ViewData["Title"] = "Create Product";
}
<div class="container p-4">
    <div class="row">
        <div class="col">
            <h3>Create Product</h3>
        </div>
        <div class="col text-end">
            <a asp-action="ProductIndex" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i> Back to Products</a>
        </div>
    </div>

    <div class="col-md-12 mt-3">
        <form asp-action="ProductCreate">
            <div class="container">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 pb-3">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <label asp-for="CategoryName" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 pb-3">
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 pb-3">
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 pb-3">
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <label asp-for="Price" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 pb-3">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-4">

                       
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-8">
                        <input type="submit" value="Create" class="btn btn-info form-control" />
                    </div>
                </div>
                <div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
